snippet pa "package" b
package com.${1:lison}.${2:demo};${0}
endsnippet
snippet inter "interface" b
public interface ${1:Name} {
	public void ${2:fun-name}();
}
endsnippet
snippet over "@Override" b
@Override
${0}
endsnippet
snippet fu "function" b
${1:public} ${2:void} ${3:name}(${0:para})
endsnippet
