snippet co "comments for javascript" b
/**
 * ${1:description}
 */
${0}
endsnippet
snippet html "html string value" b
'<html>'+
'<head>'+
'<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />'+
'</head>'+
'<body>'+
'${1:Content here!}'+
'</body>'+
'</html>';
endsnippet
snippet exp "exports inf" b
exports.${1:name} = $1;
endsnippet
